/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zoom-bg: #000000;
    --zoom-playerbar: #222222;
    --zoom-bg_icon: #4A4A4A;
    --zoom-share: #4BC800;
    --zoom-close: #E7272A;
    --zoom-icon: #FFFFFF;
}

img{
    max-width: 100%;
}
/* #endregion common */

/* #region grid */
.wrapper {
    max-width: 100%;
    background-color: var(--zoom-bg);
    height: 100vh;
    color: white;
    position: relative;
}

.container{
    max-width: 90%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-7{
    width: calc(100% / 12 * 1.7);
    position: relative;
}

.guest{
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}
.guest_icons{
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0.4rem 0.3rem;
    background-color: rgba(128, 128, 128, 0.479);
}

.zoom_icons{
    position: absolute;
    top: 10px;
    right: 10px;
}

.zoom_icons span{
    background-color: var(--zoom-bg_icon);
    color: var(--zoom-icon);
    padding: 0.25rem;
    border-radius: 5px;
}
/* #endregion grid */

/* #region playerbar */
.playerbar{
    background-color: var(--zoom-playerbar);
    color: var(--zoom-icon);
}

.d_flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.player,
.end {
    flex-grow: 1;
    padding: 1rem 1rem;
}

.chat{
    flex-grow: 3;
    padding: 1rem 1rem;
    justify-content: center;
}

.micro {
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
}

.angle{
    padding: 0rem 1rem;
    align-self: center;
}

.playerbar span{
    padding: 0.5rem 0;
}

.angle i{
    font-size: 0.75rem;
}

.end{
    justify-content: flex-end;
}

.close{
    background-color:var(--zoom-bg_icon);
    color:var(--zoom-close);
    align-items: center;
    padding: 0rem 1.5rem;
    margin: -1rem -1rem;
    font-weight: bold;
}
/* #endregion playerbar */